In [5]:
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [7]:
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [9]:
lists=[10, 20, 14, 55, 43, 87, 76]
print(len(lists))

7

In [21]:
str=input("Enter the string")
lengths=int(len(str))
for i in range(0,lengths):
 print(str[i])

Enter the string Artificial Intelligence

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [49]:
var1='Shailaja'
var2='30'
var3='Engineer'
print('-Your Name-',var1)
print('-Your Age-',var2)
print('-Your Profession-',var3)

-Your Name- Shailaja
-Your Age- 30
-Your Profession- Engineer

In [25]:
a=(1, 'Welcome', 2, 'Hope')
print(a)

(1, 'Welcome', 2, 'Hope')

In [29]:
Tuple1 = (0, 1, 2, 3)
print(Tuple1)

(0, 1, 2, 3)

In [35]:
var1=('python','HOPE')
var2=(Tuple1,var1)
print(var2)

((0, 1, 2, 3), ('python', 'HOPE'))

In [45]:
var1=(20,10,16,19,25,1,276,188)
for i in var1:
    result1=i%2
    if result1 == 1:
       print(i,' is odd')

19  is odd
25  is odd
1  is odd

In [47]:
var1=(20,10,16,19,25,1,276,188)
for i in var1:
    result1=i%2
    if result1 == 0:
       print(i,' is even')

20  is even
10  is even
16  is even
276  is even
188  is even