In [5]:
str='hope ai'
print(str.upper())

HOPE AI

In [9]:
print(input("Enter your institue name?:"))

Enter your institue name?: HOPE AI

HOPE AI

In [11]:
print(input("Enter your name:"))
print(input("Enter your age:"))
print(input("Enter your school name:"))
print(input("Enter your degree:"))

Enter your name: Raj

Raj

Enter your age: 15

15

Enter your school name: Guru school

Guru school

Enter your degree: B.E CSE

B.E CSE

In [13]:
num1=int(input("Enter number 1:"))
num2=int(input("Enter number 2:"))
print("a= " ,num1)
print("b= ", num2)
print("add = " ,num1+num2)

Enter number 1: 43
Enter number 2: 34

a=  43
b=  34
add =  77

In [15]:
num1=int(input("Enter number 1:"))
num2=int(input("Enter number 2:"))
print("a= " ,num1)
print("b= ", num2)
print("Sub = " ,num1-num2)

Enter number 1: 43
Enter number 2: 34

a=  43
b=  34
Sub =  9

In [23]:
num1=int(input("Enter number 1:"))
num2=int(input("Enter number 2:"))
print("a= " ,num1)
print("b= ", num2)
print("Mul = " ,num1*num2)

Enter number 1: 63
Enter number 2: 97

a=  63
b=  97
Mul =  6111

In [21]:
num1=int(input("Enter number 1:"))
num2=int(input("Enter number 2:"))
print("a= " ,num1)
print("b= ", num2)
print("Mul = " ,float(num1/num2))

Enter number 1: 76
Enter number 2: 31

a=  76
b=  31
Mul =  2.4516129032258065

In [27]:
num1=int(input("Enter number 1:"))
num2=int(input("Enter number 2:"))
print("a= " ,num1)
print("b= ", num2)
print("Floor Div = " ,int(num1/num2))

Enter number 1: 76
Enter number 2: 31

a=  76
b=  31
Floor Div =  2

In [29]:
num1=int(input("Enter number 1:"))
num2=int(input("Enter number 2:"))
print("a= " ,num1)
print("b= ", num2)
print("Modulo = " ,num1%num2)

Enter number 1: 76
Enter number 2: 31

a=  76
b=  31
Modulo =  14

In [71]:
num1=int(input("Enter number 1:"))
num2=int(input("Enter number 2:"))
print("a= " ,num1)
print("b= ", num2)
answer =num1 ** num2


print('Power:' ,answer)

Enter number 1: 5
Enter number 2: 3

a=  5
b=  3
Power: 125